/* Hide scrollbar for Chrome, Safari and Opera */
.slider-container::-webkit-scrollbar {
  display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.slider-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#main-display {
  font-family: 'Nunito', sans-serif;
  font-size: calc(1.5vh + 12px);
  background: url('./oceanWaves.svg'), url('./sand.svg');
  background-size: 100vw 110vh, 100vw 15vh;
  background-position: top, bottom;
  background-repeat: no-repeat, no-repeat;
}

.slider-container {
  scroll-snap-type: y mandatory;
  scroll-snap-type: mandatory;
  overflow-y: scroll;
  height: 85vh;
  width: 100vw;
}

.slider-child {
  font-family: inherit;
  text-align: center;
  scroll-snap-align: start;
  height: 85vh;
  width: 100vw;
  padding: 10px;
}


